{% extends 'base.html' %}

{% block content %}
<div class="text-center py-5">
    <h1 class="display-4 fw-bold">Добро пожаловать в BladeMaster</h1>
    <p class="lead mt-3">Профессиональный мужской груминг в Алматы</p>
    <a href="/services/" class="btn btn-success btn-lg mt-4">Записаться онлайн</a>
</div>

<div class="row mt-5">
    <div class="col-md-4 text-center">
        <h3>💈 Качество</h3>
        <p>Опытные мастера и премиум материалы</p>
    </div>
    <div class="col-md-4 text-center">
        <h3>⏰ Удобство</h3>
        <p>Онлайн-запись 24/7 без звонков</p>
    </div>
    <div class="col-md-4 text-center">
        <h3>⭐ Стиль</h3>
        <p>Современные стрижки и классика</p>
    </div>
</div>
{% endblock %}